<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
         
	<servlet>
		<servlet-name>makeTransaction</servlet-name>
		<servlet-class>com.transaction.MakeTransactionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>makeTransaction</servlet-name>
		<url-pattern>/makeTransaction</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>submitTransaction</servlet-name>
		<servlet-class>com.transaction.SubmitTransactionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>submitTransaction</servlet-name>
		<url-pattern>/submitTransaction</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>viewTransaction</servlet-name>
		<servlet-class>com.transaction.ViewTransactionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>viewTransaction</servlet-name>
		<url-pattern>/viewTransaction</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>addBeneficiary</servlet-name>
		<servlet-class>com.transaction.BeneficiaryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addBeneficiary</servlet-name>
		<url-pattern>/addBeneficiary</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>viewBeneficiary</servlet-name>
		<servlet-class>com.transaction.ViewBeneficiaryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>viewBeneficiary</servlet-name>
		<url-pattern>/viewBeneficiary</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>updateBeneficiary</servlet-name>
		<servlet-class>com.transaction.UpdateBeneficiaryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateBeneficiary</servlet-name>
		<url-pattern>/updateBeneficiary</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deleteBeneficiary</servlet-name>
		<servlet-class>com.transaction.DeleteBeneficiaryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteBeneficiary</servlet-name>
		<url-pattern>/deleteBeneficiary</url-pattern>
	</servlet-mapping>
	
</web-app>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
